@import "tailwindcss/utilities";
@import "tailwindcss/theme";

@source "./";

@theme {
  --color-primary: #F15C29;
  --color-dark-blue: #0257A1;
  --color-sky-blue: #2AAAE3;
  --color-gray: #262425;
  --color-light-gray: #F3F3F3;
  --color-light-gray-2: #EFEFEF;
  --color-light-gray-3: #F5F7F9;
  --font-poppins: "Poppins", sans-serif;
  --font-opensans: "Open Sans", sans-serif;
}

/* ---------- banner-1 component styles ---------- */

.mbn-banner-1 .phone_number_icon {
  @apply relative pl-5 lg:pl-11;
}
.mbn-banner-1 .phone_number_icon::before {
  content: " ";
  @apply absolute w-7.75 h-7.75 mr-2.5 left-0 top-1/2 -translate-y-1/2;
  background: var(--phone-icon-url, url("../../../../assets/img/defaults/phone-icon.svg")) 0 0 no-repeat;
}
.mbn-banner-1  .gform_footer{
  @apply flex flex-row justify-center items-center w-full;
}
.mbn-banner-1  .gform-theme--foundation .gform_fields{
  row-gap:20px!important;
}
.mbn-banner-1  .gform_footer .gform_button,
.mbn-banner-1  .btn_primary {
  @apply !bg-primary text-white !rounded-full !uppercase !px-5 !py-4 !font-bold lg:!text-lg lg:!tracking-wider lg:!min-w-49;
}

.mbn-banner-1 .gform_required_legend,
.mbn-banner-1 .gform_validation_errors,
.mbn-banner-1 .instruction.validation_message{
  @apply !hidden;
}

.mbn-banner-1 .ginput_container_phone input[type='tel'],
.mbn-banner-1 .ginput_container_email input[type='email'],
.mbn-banner-1 .ginput_container_text input[type='text'],
.mbn-banner-1 .input {
  @apply bg-light-gray rounded-[10px] w-full px-4 py-4 font-opensans text-black h-14 lg:h-14.5 text-base lg:text-lg border-none shadow-none;
}
.mbn-banner-1 .ginput_container_text::placeholder,
.mbn-banner-1 .textarea::placeholder,
.mbn-banner-1 .input::placeholder {
  @apply opacity-100 text-black;
}
.mbn-banner-1 .ginput_container_select select,
.mbn-banner-1 .select {
  @apply bg-light-gray rounded-[10px] w-full px-4 py-4 placeholder:opacity-100 font-opensans text-black h-14 lg:h-14.5 shadow-none border-none text-base lg:text-lg;
}
.mbn-banner-1 .ginput_container_textarea textarea,
.mbn-banner-1 .textarea {
  @apply bg-light-gray rounded-[10px] w-full px-4 py-4 placeholder:opacity-100 font-opensans text-black min-h-30 border-none text-base lg:text-lg;
}
