/** === Custom Block Editor === */
h1 {
    font-size: 75px;
}
h2 {
    font-size: 40px;
}
h3 {
    font-size: 34px;
}
h4 {
    font-size: 24px;
}

p {
    margin-bottom: 1.5rem;
}

.wp-block-post-title {
    font-size:20px;
}

.wp-block-cover.bgsec {
	background: #011C4C !important;
}

.wp-block-group {
  position: relative;
  z-index: 1;
  padding: 10px;
}

.wp-block-group:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border:1px dashed #ccc;
}


/* Main column width */
.fullw {
	max-width:100%;
	padding:0 !important;
}
.fullw > .wp-block {
	width:100%;
	max-width:100%;
	padding:0 !important;
	margin:0 !important;
}

/* Width of "wide" blocks */
.wp-block[data-align="wide"] {
  width: 90%;
  max-width: 90%;
}

/* Width of "full-wide" blocks */
.wp-block[data-align="full"] {
  width: 100%;
  max-width: 100%;
}

.display-flex {
	display:flex;
}
.has-small-font-size {
  font-size: 80%;
}
.has-medium-font-size {
  font-size: 90%;
}
.has-large-font-size {
  font-size: 110%;
}
.has-x-large-font-size {
  font-size: 120%;
}

.div-wrap-block,
.wp-block[data-align="full"] .div-wrap-content {
    max-width:100%;
    padding-left:0;
    padding-right:0;
}
.wp-block-columns.no-gap {
    gap:0;
}

.imgfull {
    width:100%;
    max-width:100%;
}